<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mr. Helper Chatbot</title>

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
  </head>
  <body>
    <div style="font-family: Lucida Console;">
      <b style="font-size: 20px; color: blue !important;">    Mr. Helper</b><br>
      Welcome! I'm Mr. Helper, I'm here for you 24/7 to help you, press the button below to start the chat.
    </div>
      <div class="chatbot-section">
        <figure class="mobile hidden">
          <div class="app">
            <!-- Header -->
            <div class="header">
              <!-- avatar -->
              <img
                class="avatar"
                src="{{url_for('static',filename='dp.png')}}"
                alt="Chatbot"
              />
              <div>

                <p>Mr. Helper</p>
                <span>* CCIS Assitant</span>


                <button onClick="addRefresh()" style='border-style: none;float:right;margin-left:110px'>
                  <img id="myImg"
               src="{{url_for('static',filename='refreshBlueButton.png')}}"

            />
                </button>



              </div>
              <!-- name & status -->
            </div>

            <!-- Chat section -->
            <div id="chatW" class="chat-messages">
              <div class="chat-message incoming-message">
              Welcome to CCIS Enquiry Bot.
              </div>

            </div>

            <!-- chat input section -->
            <div class="chat-input-section">
              <form id="chat-form">
                <input
                  id="chat-input"
                  type="text"
                  aria-label="chat-input"
                  placeholder="Type a message ..."
                />
                <button
                  class="svg-btn"
                  type="submit"
                  aria-label="send-message-btn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="chat-input-svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="white"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5l7 7-7 7"
                    />
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </figure>
        <div class="button-container">

          <button style="border-style: none" onclick="toggleChatBot()" class="chat-open-btn">
            <img style="border-style: none; position: absolute; top: 95%; left: 50%; transform: translate(-50%, -50%); width: 3%; height: 10%;"
                 src="/static/toggleButton2.PNG"
                 alt="chat bot">
          </button>
        </div>
      </div>
    
       <script src="{{url_for('static',filename='chat.js')}}"></script>
  </body>
</html>
